<!DOCTYPE html>
<html lang="en">

<div class="card"  style="background-color: #4db6ac;">
  <div class="card-header font-weight-bold text-white text-lg-center">
    About
  </div>
  <div class="row">
      <div class="col-sm-6">
        <div class="card h-100 text-md-center"  style="background-color: #4db6ac;">
          <div class="card-body">
            <p class="card-text text-white">I created this app as class project to learn about Data
              Engineering in the cloud.  I used AWS Elastic Beanstalk for the app, and
              Amazon Forecast for time series forecasting. </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="background-color: #4db6ac;">
          <div class="card-body">
            <ul>
            <li><a class="text-white" href="/">Home</a></li>
            <li><a class="text-white" href="#!">About Me</a></li>
            <li><a class="text-white" href="states">Weather Predictions</a></li>
            <li><a class="text-white" href="costs">Cloud Costs</a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
</div>
  <div class="card-footer text-muted" style="background-color: #4db6ac;>
    <div class="container">
      <div class="row">
        <div class="col">
        </div>
        <div class="col-12 text-white">
          © 2022 Curt Robords
        </div>
        <div class="col">
        </div>
      </div>
      </div>
    </div>
  </div>
</html>