<!DOCTYPE html>
<html lang="en">
<footer class="page-footer teal lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">I created this website as class project to learn about Data
            Engineering in the cloud.  I used AWS Elastic Beanstalk for the app, and
            Amazon Forecast for time series forecasting.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">About Me</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Weather Predictions</a></li>
          <li><a class="grey-text text-lighten-3" href="costs">Cloud Costs</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2022 Curt Robords
    </div>
  </div>
</footer>
</html>