<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="{{ url_for('static',filename='/css/materialize.css') }}" media="screen,projection" rel="stylesheet"
          type="text/css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{environment}} Weather Predictions</title>
    <nav class="teal lighten-2">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Curt Robords</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="states">Weather Predictions</a></li>
        <li><a href="costs">Cloud Costs</a></li>
      </ul>
        <span class="new badge black" data-badge-caption="  ">{{environment}}</span>
    </div>
  </nav>

</head>
</html>