<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
<body style="background-color: #e0e0e0">
<div style="background-color: #e0e0e0">
<h1 class="text-center">Hello from AWS Elastic Beanstalk</h1>
</div>
     <div class="container">
             <div class="row align-items-start">
                   <div class="col-3 bg-light p-3 border">
                         <style>
                              table {text-align: center;}
                              table thead th {text-align: center;}
                        </style>
                       <form method="POST">
                           <input type="text" name="location_filter" placeholder="Search for a location..." value="">
                           <button type="submit" class="btn btn-primary">Submit</button>
                           <button type="submit" class="btn btn-outline-secondary">Clear</button>
                       </form>
                              {% for error in errors %}
                                <h4>{{ error }}</h4>
                              {% endfor %}
                       <br>
                             {% for table in tables %}
                             {{ table|safe }}
                             {% endfor %}
                   </div>
                   <div class="col-sm-9 bg-light p-3 border">
                       <!--<img src="data:image/png;base64,{{ service }}" alt="Chart from Forecast">-->
                       <img src={{ service }} alt="Chart from Forecast" height="400"/>
                   </div>
     </div>
      <!--JavaScript at end of body for optimized loading-->
      <script src="{{ url_for('static',filename='/js/bootstrap.js') }}" type="text/javascript"></script>
         <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
         <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
         <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
</body>
{% include 'footer.html' %}
</html>